##################
###### Java ######
##################

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#####################################################################


##################
## Sublime Text ##
##################

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

#####################################################################


##################
#### Netbeans ####
##################

Media Converter/nbproject/private/*
Media Converter/build/
Media Converter/nbbuild/
Media Converter/dist/
Media Converter/nbdist/
Media Converter/nbactions.xml
Media Converter/nb-configuration.xml

#####################################################################

Dependencies/
Media Converter/src/com/github/cshubhamrao/MediaConverter/FFMpeg/ffmpeg.exe
Media Converter/src/com/github/cshubhamrao/MediaConverter/FFMpeg/ffmpeg.exe.xz